.popup {
    width: 41.6666666667vw;
    color: #fff;
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 100%;
    bottom: 0;
    transform: translate(0);
    transition: 0.3s transform, 0.3s background-color;
}

.popup#spaces[data-popup-class='yellow'] {
    background: #fff59f;
    color: #000;
}

.popup#spaces[data-popup-class='yellow'] .popup__close {
    color: #000;
}

.popup#spaces[data-popup-class='yellow'] .popup__close svg,
.popup#spaces[data-popup-class='yellow'] .popup__close svg path {
    fill: #000;
}

[data-season='summer'] .popup {
    background: #3a4639;
}

[data-season='autumn'] .popup {
    background: #423b30;
}

[data-season='winter'] .popup {
    background: #2d303c;
}

[data-season='spring'] .popup {
    background: #3a4639;
}

.popup.is-active {
    transform: translate(-100%);
}

.popup__title {
    position: absolute;
    top: 15px;
    left: 30px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    font-family: mp, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

@media (max-width: 1439px) {
    .popup__title {
        left: 20px;
    }
}

@media (max-width: 1023px) {
    .popup__title {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.02em;
    }
}

@media (max-width: 1023px) {
    .popup__title {
        top: 75px;
        left: 10px;
    }
}

.popup__close {
    cursor: pointer;
    line-height: 0;
    text-decoration: none;
    position: absolute;
    top: 7px;
    right: 0;
    width: 35px;
    height: 35px;
    display: block;
    transition: 0.3s opacity;
}

.popup__close:hover {
    opacity: 0.6;
}

@media (max-width: 1023px) {
    .popup__close {
        top: 67px;
    }
}

.popup__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 70px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    padding: 0 35px 65px 30px;
}

.popup__content::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1439px) {
    .popup__content {
        padding: 0 20px 30px;
    }
}

@media (max-width: 1023px) {
    .popup__content {
        top: 105px;
        padding: 0 10px 40px;
    }
}

@media (max-width: 1023px) {
    .popup {
        width: 100%;
        padding-top: 105px;
        transition: none;
    }
}
